---
layout: archive
title: ""
permalink: /portfolio/
author_profile: true
---

<table>
  <thead align="center">
    <tr><td><b>Project 🗂️ </b></td>
    <td><b>Description 📝</b></td>
    <td><b>Resources 🔗</b></td>
</tr></thead>

<tr>
  <td align="center"><b>Autonomous Kart (Current Project)</b></td>
  <td align="center"><b>Construct a self-driving go-kart in collaboration with EVC Purdue for competing in the Autonomous Grand Prix at Purdue University. 🏎️</b></td>
  <td align="center"><a href="https://www.linkedin.com/company/latin-autonomous-projects-club-laps/posts/?feedView=all" target="_blank">Club Page</a></td>
</tr>

<tr>
  <td align="center"> <b>STM Video Console</b></td>
  <td align="center"><b>Custom-built gaming console designed to emulate the game "Piano Tiles" using STM32 microcontroller 🎮	</b></td>
  <td align="center"><a href="https://github.com/gbazalar/piano_tiles_stm32/tree/main" target="_blank">Github</a></td>
</tr>

<tr>
  <td align="center"> <b>Analog Heart Rate Monitor</b></td>
  <td align="center"><b>Heart rate sensor using Photoplethysmography concepts and analog components. 💓</b></td>
  <td align="center">
  <a href="/files/Heart rate monitoring employing Photoplethysmography.pdf" target="_blank">PDF</a></td>
</tr>

<tr>
  <td align="center"><b>CAN Communication Board</b></td>
  <td align="center"><b>CAN communication board in Altium Designer using STM32 (hardware intro project for the Purdue Electric Racing Club). 🔋</b></td>
  <td align="center">
    <a href="/files/CAN board.pdf" target="_blank">Schematic</a></td>
  </tr>

  <tr>
    <td align="center"><b>Lunar Lander Simulator</b></td>
    <td align="center"><b>Designed a Lunar Lander Simulator in System Verilog for a rocket, displaying altitude, velocity, thrust, and fuel on 7-segment displays. 🖥️</b></td>
    <td align="center"><a href="https://github.com/gbazalar/Lunar-Lander-Simulator/blob/main/Verilog%20Code" target="_blank">Github</a></td>
  </tr>

<tr>
  <td align="center"><b>Lag Compensator Report</b></td>
  <td align="center"><b>Designed a Lag Compensator Controller using MATLAB to meet 25% maximum overshoot and a steady-state error of 0.1. 🚀</b></td>
  <td align="center">
    <a href="/files/Lag Compensator Report.pdf" target="_blank">PDF</a></td>
  </tr>

  <tr>
    <td align="center"><b>Audio Equalizer</b></td>
    <td align="center"><b>Designed and implemented an audio equalizer/amplifier for low, mid, and high frequencies. 🔊</b></td>
    <td align="center">
      <a href="/files/AudioEq Report.pdf" target="_blank">PDF</a></td>
    </tr>

<tr>
  <td align="center"><b>Data Security in Model Training</b></td>
  <td align="center"><b>Explored machine learning models' robustness against data poisoning on the sklearn digits dataset. 🤖</b></td>
  <td align="center">
    <a href="/files/Data Security in Model Training Report.pdf" target="_blank">PDF</a></td>
  </tr>




<tr>
  <td align="center"><b>BD-Mesh</b></td>
  <td align="center"><b>Contributed to my community by implementing a mesh network for underserved communities. 🛜</b></td>
  <td align="center">
    <a href="/files/BDMesh.pdf" target="_blank">Presentation</a></td>
  </tr>

<tr>
  <td align="center"><b>PM/Brushless DC Report</b></td>
  <td align="center"><b>Investigated the differences between PM and Brushless DC Machines and their operational principles. ⚙️</b></td>
  <td align="center">
    <a href="/files/Report on PM-BL DC Machines.pdf" target="_blank">PDF</a></td>
  </tr>

<tr>
  <td align="center"><b>Invention Contest</b></td>
  <td align="center"><b>Participated in the Peruvian National Patent Contest with a microcontroller-based Physics Kit 🧑‍🏫</b></td>
  <td align="center">
    <a href="/files/Newton Kit.pdf" target="_blank">Presentation</a></td>
  </tr>
</table>

<!-- {% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %} -->

